<template name="addTopicModal">
<div id="addTopicModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Add Conversation Starter</h4>
      </div>
      <div class="modal-body">
      	<form class="form-inline">	
      		<h5>What's the source of the topic</h5>
	        <select class="form-control" id="createTopicDropdown">
	        	<option>Choose One</option>
	        	<option>Article/Analysis</option>
	        	<option>Audio/Posdast</option>
	        	<option>Original Thought</option>
	        </select>

	        {{#if sectionToDisplay "Article/Analysis"}}
	        	<h5>Input the URL of the Article's Source URL</h5>
			        <input type="text" id="URLofInterest" class="form-control" placeholder="Input URL">
			        <button id="checkURL">Fetch Info</button>
				{{#if urlFetched}}
					<p>Title: {{fetchedPageTitle}}</p>
					<p><img src="{{fetchedPageImg}}" width="225"></p>
					<p>{{fetchedPageDesc}}</p>				

				{{/if}}		        
			{{/if}}



	        {{#if sectionToDisplay "Audio/Podcast"}}
	        	<h4>Audio/Podcast</h4>
			{{/if}}

	        {{#if sectionToDisplay "Original Thought"}}
	        	<h4>Original Thought</h4>

			{{/if}}			
			{{#if anyTopicSet}}
		        <h5>Enter an insight to get this conversation rolling!</h5>
		        <textarea class="form-control" rows="3"></textarea>
		    {{/if}}
	     </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

</template>