<template name="addTopicModal">
<div id="addTopicModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Add Conversation Starter</h4>
      </div>
      <div class="modal-body">
      	<form class="form-inline" id="conversationItemForm">	
      		<h5>What's the source of the topic</h5>
	        <select class="form-control" id="createTopicDropdown">
	        	<option>Choose One</option>
	        	<option>Article/Analysis</option>
	        	<option>Audio/Podcast</option>
	        	<option>Original Thought</option>
	        </select>

	        {{#if sectionToDisplay "Article/Analysis"}}
	        	<h5>Input the URL of the Article's Source URL</h5>
			        <input type="text" id="URLofInterest" class="form-control" placeholder="Input URL">
			        <button id="checkURL">Fetch Info</button>
				{{#if URLFetched}}
					<p>Title: {{fetchedPageValues.title}}</p>
					<p><img src="{{fetchedPageValues.image}}" width="225"></p>
					<p>{{fetchedPageValues.description}}</p>		

				{{/if}}		        
			{{/if}}
			{{#if sectionToDisplay "Audio/Podcast"}}
	        	<h5>Input the Soundcould embed code.</h5>
			        <input type="text" id="audioClipSource" class="form-control" placeholder="Input URL">	
				    <button id="fetchAudioFile">Fetch Audio</button>

				    {{{soundCloudEmbed}}}
				 

	        {{/if}}

	        {{#if sectionToDisplay "Original Thought"}}
	        	<h4>Original Thought</h4>
	        	<h5>Enter a Short Title for Your Thought</h5>
			        <input type="text" id="audioClipSource" class="form-control" placeholder="Post Title">	        	
			{{/if}}			
			<div class="{{#unless showConversationStarter}}hideMe{{/unless}}">
		        <h5>Enter an insight to get this conversation rolling!</h5>
		        <textarea id="conversationStarter" Uclass="form-control" rows="3"></textarea>
		        <input class="form-control typeahead" id="foobar" name="showTags" type="text"
			       placeholder="Start typing"
			       autocomplete="on" spellcheck="off"
			       data-source="allTags"/>

			    {{#each tags}}
			    	<span class="myTag">{{tag}}<i class="fa fa-times"></i></span>&nbsp;
			    {{/each}}

			    <p><input id="spoiler" type="checkbox"> &nbsp;Include Spoiler warning?</p> 

		        <p><button type="submit" class="btn btn-primary">Add Conversation</button></p>

		    </div>
	     </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</template>