<template name="showtopic">


<div class="row breadcrumbs">
	<div class="col-xs-12">
		<span class="episodeTitle">{{series.seriesTitle}}</span> <span class="episodeInfo"><a href="#">{{episode.seasonNumber}}.{{episode.episodeNumber}} - {{episode.title}}</a> > <a href="#">{{currentFilter}}Top 10 discussions</a> > (1 of 10)</span>
	</div>
</div>

<div class="row topicMeta">
	<div class="col-xs-8 col-xs-offset-2">
		<h1>{{topic.topicTitle}}</h1>

		<h4>Discussion started by <a href="kkkk">{{topic.createdByUsername}}</a> on {{formatDate topic.timestamp}}</h4>
		<img src="{{topic.linkedArticleInfo.image}}">
		<h5>{{articleAuthor}}Andy Greenwald</h5>
		<h5>From {{articleTitle}}This is a hell of an article on Grantland.com{{site}}</h5>
		<p>{{topic.conversationStarter}}</p>
		<div class="tags">
			{{#each topic.tags}}
				<span class="tag">{{this}}</span>
			{{/each}}
		</div>		

	</div>
	<div class="row conversationMeta">
		<div class="col-xs-6 col-xs-offset-3">
			Conversation has {{numberComments}}15 observations by {{numbercommentors}}6 memebers
		</div>
		<div class="col-xs-8 text-right">		
			Sort by <button>this bit</button>
		</div>
	</div>
	<div class="row commentList">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="observation-enter">
				<img src="/cap.png" height="35px">
				<p class="observation-holder add-observation" contenteditable>Add an observation...</p>
			</div>
			<div class="observation-block">
				<img src="/cap.png" height="35px">
				<div class="observation-holder">
					<div class="primary-observation">
						<h4>Jason Shankle</h4>
						<p>Lorem ipsa loquitor. Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.
						</p>
						<p class="observation-meta">36 min <a class="recommended-link" href="#"> Recommended</a> (14) <a href="#" class="promote">Promote to full discussion</a></p>
					</div>
					<hr>
					<div class="secondary-observations">
						<img src="/cap.png" height="35px">
						<div class="text-holder">
							<h4>First Name, Last Name</h4>
							<p>Lorem ipsa loquitor. Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor. Lorem ipsa loquitor. Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor. Lorem ipsa loquitor. Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.</p>
						</div>

					</div>
					<div class="secondary-observations">
						<img src="/cap.png" height="35px">
						<div class="text-holder">
							<h4>First Name, Last Name</h4>
							<p>Lorem ipsa loquitor. Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor. Lorem ipsa loquitor. Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor. Lorem ipsa loquitor. Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.</p>
						</div>

					</div>
					<div class="secondary-observations">
						<img src="/cap.png" height="35px">
						<div class="text-holder">
							<h4>First Name, Last Name</h4>
							<p>Lorem ipsa loquitor. Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor. Lorem ipsa loquitor. Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor. Lorem ipsa loquitor. Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.</p>
						</div>

					</div>
					<hr>
					<div class="reply-to-conversation observation-meta">
						<a href="#" class="reply">Reply to conversation</a>
					</div>

				</div>

			</div>

		</div>
	</div>

</div> 

</template>