<template name="showtopic">
<div class="container-fluid">
<div class="row breadcrumbs">
	<div class="col-xs-12">
		<span class="episodeTitle">{{series.seriesTitle}}</span> <span class="episodeInfo"><a href="#">{{episode.seasonNumber}}.{{episode.episodeNumber}} - {{episode.title}}</a> > <a href="#">{{currentFilter}}Top 10 discussions</a> > (1 of 10)</span>
	</div>
</div>

<div class="row topicMeta row-centered">
	<i class="fa fa-chevron-left"></i>
	<i class="fa fa-chevron-right"></i>

	<div class="col-xs-6 col-centered">
		<h1>{{topic.topicTitle}}</h1>

		<h4>Discussion started by <a href="kkkk">{{topic.createdByUsername}}</a> on {{formatDate topic.timestamp}}</h4>
		<img class="img-responsive" src="{{topic.linkedArticleInfo.image}}">
		<h5 class="author">By: <a href="">{{articleAuthor}}Andy Greenwald</a></h5>
		<h5 class="is-from">From <a href="#">{{articleTitle}}This is a hell of an article</a> on <a href="#">Grantland.com{{site}}</a></h5>
		<p>{{topic.conversationStarter}}Lorem ipsa loquitor. Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.Lorem ipsa loquitor.</p>
		<div class="tags">
			{{#each topic.tags}}
				<span class="tag">{{this}}</span>
			{{/each}}
			<i class="fa fa-tags tag-box"></i>
		</div>
	</div>
</div>
<div class="row conversationMeta">
	<div class="col-xs-6 col-xs-offset-3 text-left upper-border-me">
		<hr>
		<i class="fa fa-comment"></i>Conversation has <span class="makeBold">{{numberComments}}15 observations</span> by <span class="makeBold">{{numbercommentors}}6 memebers</span>.
	</div>
	<div class="col-xs-2 text-right">		
		<!-- sort by button here Sort by <button>this bit</button> -->
	</div>
</div>
<div class="row commentList row-centered">
	<div class="col-xs-5 col-centered">
		<div class="observation-enter">
			<img src="/cap.png" height="35px">
			<div class="observation-holder" id="newObservation" contenteditable="true">{{initialText}}</div>
		</div>
		{{#each comments}}
			<div class="observation-block">
				<img src="/cap.png" height="35px">
				<div class="observation-holder">
					<a href="#"><i class="fa fa-link"></i></a>
					<div class="primary-observation">
						<h4>{{userId}}</h4>
						<p>{{commentText}}</p>
						<p class="observation-meta">{{timeAgo timestamp}} ago
							{{#if alreadyRecommended recommendedBy}}
								Recommended ({{recommendedBy.length}}) (including you) 
							{{else}}
								<a class="recommended-link" href="#"> Recommended</a> ({{recommendedBy.length}}) 
							{{/if}}
						</p>
					</div>
					

					{{#each nestedComment this._id}}
					<div class="secondary-observations">
						<img src="/cap.png" height="35px">
						<div class="text-holder">
							<h4>{{userId}}</h4>
							<p>{{commentText}}</p>
						</div>
					</div>
					{{/each}}

					<div class="reply-to-conversation">
						<span>Reply:</span> <p class="interiorReply" contenteditable="true"></p>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
</div>
<div class="row row-centered">
	<div class="col-xs-6 col-centered">
		<button class="btn btn-follow"><i class="fa fa-bookmark"></i>Follow Discussion</button>
	</div>
</div>
</div>
</template>